[submodule "deps/gnostr-cat"]
	path = deps/gnostr-cat
	url = https://github.com/gnostr-org/gnostr-cat.git
	ignore = dirty
[submodule "deps/gnostr-cli"]
	path = deps/gnostr-cli
	url = https://github.com/gnostr-org/gnostr-cli.git
	ignore = dirty
[submodule "deps/gnostr-legit"]
	path = deps/gnostr-legit
	url = https://github.com/gnostr-org/gnostr-legit.git
	ignore = dirty
[submodule "deps/gnostr-command"]
	path = deps/gnostr-command
	url = https://github.com/gnostr-org/gnostr-command.git
	ignore = dirty
[submodule "deps/gnostr-grep"]
	path = deps/gnostr-grep
	url = https://github.com/gnostr-org/gnostr-grep.git
	ignore = dirty
[submodule "deps/gnostr-sha256"]
	path = deps/gnostr-sha256
	url = https://github.com/gnostr-org/gnostr-sha256.git
	ignore = dirty
